.project-container{
    display: flex;
    justify-content: center;

    form{
        width: 50%;
    }

    button{
        float: right;
        margin: 10px 10px 0px;
    }
}

.project-content-form{
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
}